
ACAMPREF
alda
atril
audacium
autostart
bleachbit
blender
browsh
bspwm
chromium
code-oss
Code - OSS
compton.conf
configstore
dconf
discord
dunst
Electron
filezilla
fish
flameshot
Flavio Tordini
fontconfig
font-manager
Franz
FreeTube
geany
GIMP
goa-1.0
gtk-2.0
gtk-3.0
gtk-4.0
hexchat
htop
ibus
io.krunker.desktop
kdeconnect
KeePass
Kitware
komorebi
Kvantum
leafpad
lftp
libfm
libreoffice
micro
midori
mimeapps.list
MuseScore
nautilus
ncmpcpp
neofetch
networkmanager-dmenu
nitrogen
nushell
obmenu-generator
obs-studio
octopi
omf
onionshare
openbox
pavucontrol.ini
pcmanfm
picom.conf
pyroom
qBittorrent
qt5ct
QtProject
QtProject.conf
ranger
rofi
Session
Signal Beta
sublime-text
sxhkd
syncthing
Thunar
torbrowser
Unknown
user-dirs.dirs
user-dirs.locale
viewnior
VirtualBox
vlc
walc
whatscli
xarchiver
xfce4
yup
zentile
zoomus.conf
